.logo {
    width: 20%;
    margin-top: 10%;
}

.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.mobile-logo {
    width: 50%;
    margin-top: 10%;
}

#show-footer-button {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 5vh;
}

.legal-info {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    background: rgb(239,239,239);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 0.8px solid lightgrey;
}

#legal-notice-button { 
    font-size: 60%;
    margin-right: 5vh;
    margin-left: 3vh;
}

/* iPhone 6/7/8 */ 
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .logo {
         width: 50%;
         margin-top: 10%;
    } 

    .legal-info {
        justify-content: flex-start;
        padding-left: 3vh;
    }

    #legal-notice-button { 
        position: absolute;
        right: 3vh;
        font-size: 60%;
        margin-right: 0;
        margin-left: 0;
    }
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .logo {
        width: 50%;
        margin-top: 20%
    }

    .legal-info {
        justify-content: flex-start;
        padding-left: 3vh;
    }

    #legal-notice-button { 
        position: absolute;
        right: 3vh;
        font-size: 60%;
        margin-right: 0;
        margin-left: 0;
    }
}

/* iPad Hochformat */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .logo {
        width: 40%;
        margin-top: 15%
    }
}