.root {
    display: flex;
    /* min-height: 320vh; */
    min-height: 100vh;
    flex-direction: column;
}

.app {
    text-align: center;
    height: 100vh !important;
}

.logo {
    width: 20%;
    margin-top: 10%;
}

.mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.mobile-logo {
    width: 50%;
    margin-top: 10%;
}

#show-footer-button {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 5vh;
}

.legal-info {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    height: 3vh;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#legal-notice-button { 
    font-size: 60%;
    margin-right: 5vh;
}

/* iPhone 6/7/8 */ 
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .logo {
         width: 50%;
         margin-top: 20%;
    } 
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .logo {
        width: 50%;
        margin-top: 20%
    }
}

/* iPad Hochformat */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .logo {
        width: 40%;
        margin-top: 15%
    }
}