.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 242, 242);
    color: lightgrey;
    text-align: center;
    height: 20vh;
}

.content {
    margin-top: 1vh;
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 2vh;
}

.legal {
    padding-bottom: 1vh;
    padding-top: 1vh;
    background-color: rgb(217, 217, 217);
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .footer {
        display: none;
    }
}