.list {
    width: 25vh;
    max-width: 25vh;
    height: 95%;
}

#list-component {
    max-width: 25vh;
    height: 100%;
}

.subheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 5%;
}

#subheading {
    margin-top: 5%;
}

.bottom-menu-items {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* iPhone 5/5s */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    .list {
        width: 30vh;
        max-width: 30vh;
        height: 95%;
    }
    
    #list-component {
        max-width: 30vh;
        height: 100%;
    }
}

/* iPhone 6/7/8 */ 
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .list {
        width: 30vh;
        max-width: 30vh;
        height: 95%;
    }
    
    #list-component {
        max-width: 30vh;
        height: 100%;
    }
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .list {
        width: 30vh;
        max-width: 30vh;
        height: 95%;
    }
    
    #list-component {
        max-width: 30vh;
        height: 100%;
    }
}

/* iPad Hochformat */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .list {
        width: 25vh;
        max-width: 25vh;
        height: 95%;
    }
    
    #list-component {
        max-width: 25vh;
        height: 100%;
    }
}