.searchBar {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .searchBar {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }
}