.searchBar {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

/* iPhone 5/5s */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    .searchBar {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }
}

/* iPhone 6/7/8 */ 
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .searchBar {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .searchBar {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }
}