.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    flex-direction: column;
}

.spelling {
    margin-left: 10vh;
    margin-top: 2vh;
}

#notfoundimage {
    width: 20%;
}

#notfoundtitle {}

/* iPhone 5/5s */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    #notfoundimage {
        width: 40%;
    }
    #notfoundtitle {
        text-align: center;
    }
}

/* iPhone 6/7/8 */ 
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    #notfoundimage {
        width: 40%;
    }
    #notfoundtitle {
        text-align: center;
    }
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    #notfoundimage {
        width: 40%;
    }
    #notfoundtitle {
        text-align: center;
    }
}

/* iPad Hochformat */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    #notfoundimage {
        width: 40%;
    }
    #notfoundtitle {
        text-align: center;
    }
}