#root-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#typo {
    margin-top: 5%;
    margin-bottom: 1%;
}

#gif {
    display: flex;
    justify-content: center;
}

/* iPhone 6/7/8 */ 
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    #typo {
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    #typo {
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }
}

/* iPad Hochformat */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #typo {
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }
}