.content {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.contentPaper1 {
    width: 45%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.contentPaper2 {
    width: 45%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.contentTable {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.pdfButton {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5%;
}