.quicksearch-container {
    margin-top: 2%;
}

.quicksearch-button {
    padding: 1%;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    background: transparent;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    cursor: pointer;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.54);
    margin-right: 2%;
}

.quicksearch-button:hover {
    border: 1px solid black;
}


/* iPhone 6/7/8 */ 
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .quicksearch-container {
        margin-top: 5%;
    }
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .quicksearch-container {
        margin-top: 5%;
    }
}