.resultDocsLength {
    margin-left: 2vh;
    margin-top: 2vh;
}

.resultListRoot {
    margin-right: 10vh;
    margin-left: 10vh;
    margin-top: 2vh;
}

#pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 10vh;
    position: absolute;
    left: 0;
    right: 0;
}

/* iPhone 5/5s */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    .resultDocsLength {
        align-items: center;
        margin-bottom: 10%;
    }
    
    .resultListRoot {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    #pagination {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;
        margin-top: 10vh;
        position: inherit;
    }
}

/* iPhone 6/7/8 */ 
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .resultDocsLength {
        align-items: center;
        margin-bottom: 10%;
    }
    
    .resultListRoot {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    #pagination {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;
        margin-top: 10vh;
        position: inherit;
    }
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .resultDocsLength {
        align-items: center;
        margin-bottom: 10%;
    }
    
    .resultListRoot {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    #pagination {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;
        margin-top: 10vh;
        position: inherit;
    }
}

/* iPad Hochformat */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .resultDocsLength {
        align-items: center;
        margin-bottom: 10%;
    }
    
    .resultListRoot {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    #pagination {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;
        margin-top: 10vh;
        position: inherit;
    }
}