#listItemRoot {
    display: flex;
    margin-bottom: 1%;
}

#listItem {
    padding: 0;
    margin-top: 0.5vh;
}

#keywords {
    color: blue;
    font-size: 12px;
}

#subtitle {
    color: green;
}

#levelDiv {
    border: 1px solid black;
    padding: 1vh;
    border-radius: 100%;
    margin-right: 2vh;
}

#date {
    font-size: 12px
}

/* iPhone 5/5s */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    #listItemRoot {
        display: flex;
        margin-bottom: 5%;
    }

    #levelDiv {
        display: none;
    }
}

/* iPhone 6/7/8 */ 
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    #listItemRoot {
        display: flex;
        margin-bottom: 5%;
    }

    #levelDiv {
        display: none;
    }
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    #listItemRoot {
        display: flex;
        margin-bottom: 5%;
    }

    #levelDiv {
        display: none;
    }
}