.progress {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
}

.resultList {
  display: flex;
}


/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    .resultList {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}