.bar {
    width: 50%;
}

#searchButton {
    margin-top: 1%;
}

/* iPhone 5/5s */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    
    .bar {
        width: 90%;
    }

    #searchButton {
        margin-top: 10%;
    }
    
    /* Style for autosuggestion container */
    #react-autowhatever-1 {
        width: 90% !important;
    }
}

/* iPhone 6/7/8 */ 
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    
    .bar {
        width: 90%;
    }

    #searchButton {
        margin-top: 10%;
    }

    /* Style for autosuggestion container */
    #react-autowhatever-1 {
        width: 90% !important;
    }
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    
    .bar {
        width: 90%;
    }

    #searchButton {
        margin-top: 10%;
    }

    /* Style for autosuggestion container */
    #react-autowhatever-1 {
        width: 90% !important;
    }
}

/* iPhone 6/7/8 Plus */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) {
    
    .bar {
        width: 81%;
    }

    #searchButton {
        margin-top: 10%;
    }

    /* Style for autosuggestion container */
    #react-autowhatever-1 {
        width: 81% !important;
    }
}

/* iPad Hochformat */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    
    .bar {
        width: 81%;
    }

    #searchButton {
        margin-top: 5%;
    }

    /* Style for autosuggestion container */
    #react-autowhatever-1 {
        width: 81% !important;
    }
}