#card {
    min-width: 275px;
    max-width: 275px;
    max-height: 280px;
    margin-top: 6vh;
    margin-right: 10vh;
    margin-left: auto;
}

#bullet {
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}

#title {
    font-size: 14;
}

#pos {
    margin-bottom: 12;
}

/* iPhone 5/5s */ 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    #card {
        box-shadow: none !important;
        min-width: 100%;
        max-width: 100%;
        max-height: 100%;
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
    } 
}

/* iPhone 6/7/8 */ 
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    #card {
        box-shadow: none !important;
        min-width: 100%;
        max-width: 100%;
        max-height: 100%;
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
    }
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    #card {
        box-shadow: none !important;
        min-width: 100%;
        max-width: 100%;
        max-height: 100%;
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
    }
}