#card {
    min-width: 275px;
    max-width: 275px;
    max-height: 280px;
    margin-top: 6vh;
    margin-right: 10vh;
    margin-left: auto;
}

#bullet {
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}

#title {
    font-size: 14;
}

#pos {
    margin-bottom: 12;
}

/* iPhone X*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    #card {
        min-width: 275px;
        max-width: 275px;
        max-height: 280px;
        margin-top: 6vh;
        margin-right: 0;
        margin-left: 0;
    }
}